# CMake build directories
cpp_engine/build/
cpp_engine/out/
CMakeCache.txt
CMakeFiles

# Compiled dynamic libraries 
*.dll
*.so
*.dylib
*.exe

# Python cache
__pycache__/
*.pyc
.venv/

# Jetbrains local setting data
*.idea

# Some docs